nav {
    background-color: #B0DEFF;
    width: 100vw;
    padding: 25px 50px;
    color: #232323;
    font-weight: 700;
    position: fixed;
    border-top: 5px solid #FFD19A;
    z-index: 999;
}

#name {
    text-transform: uppercase;
    font-size: 15pt;
    float: left;
    padding: 6px 12px;
    border-radius: 5px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

#name a {
    background-color: transparent;
    border-bottom: none;
    color: #232323;
}

#name:hover {
    background-color: #FFF8A6;
    transform: translate(-2pt, -2pt);
    box-shadow: 2pt 2pt #ffa065;
}

nav ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    float: right;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 0px 5px;
    padding: 3px 6px;
}

    nav li a {
        color: #232323;
        border-bottom: none;
    }

    nav li a:hover {
        color: #232323;
        border-bottom-color: #232323;
    }

nav .current-page {
    background: #FFF8A6;
    border-radius: 5px;
}

#container {
    padding: 200px 20% 100px 20%;
}

footer {
    background-color: #f0f2f1;
    width: 100vw;
    padding: 25px 50px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    margin-right: 20px;
    list-style-type: none;
    display: inline;
}

    footer li a {
        color: #232323;
        border-bottom: none;
    }

    footer li a:hover {
        color: #232323;
        border-bottom: 2px solid #232323;
    }

footer .gummy-line {
    background-color: #FFD19A;
    margin: 10px 0px;
    width: 5vw;
    height: 3px;
    border-radius: 3px;
    opacity: 1;
}

footer .credit {
    bottom: 0;
    margin: 10px 0px 0px 0px;
    font-size: 8pt;
}

footer .current-page {
    opacity: 0.5;
}