#header {
    background-color: #B0DEFF;
    background-size: 80;
    background-repeat: no-repeat;
    background-position: 5% 25%;
    width: 100vw;
    height: 40vh;
}

    #icon {
        background-color: #FFF8A6;
        background-size: cover;
        background-position: center;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 10px solid #ffffff;
    }

#content {
    width: 100vw;
    height: 60vh;
    text-align: center;
    padding-top: 110px;
}

#content hr {
    background-color: #FFD19A;
    width: 20vw;
    height: 5px;
    border-radius: 5px;
    opacity: 1;
}

.info {
    width: 50vw;
}

.fa {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
    font-size: 15pt;
    color: #232323;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.fa:hover {
    background-color: #ffa065;
    transform: translate(-2pt, -2pt);
    box-shadow: 2pt 2pt #88888882;
}

.nav {
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    margin-bottom: 10px;
    list-style-type: none;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 5px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

.nav li:last-child {
    margin-bottom: 0px;
}

.nav li:hover {
    background-color: #ffa065;
    transform: translate(-2pt, -2pt);
    box-shadow: 2pt 2pt #88888882;
}

.nav a {
    color: #232323;
    font-weight: 700;
    text-decoration: none;
    border-bottom: none;
}

.bio {
    text-align: justify;
}