#header {
    background-color: #B0DEFF;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 40vh;
}

    #icon {
        background-color: #FFF8A6;
        background-size: cover;
        background-position: center;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 10px solid #ffffff;
    }

#content {
    width: 100vw;
    height: 60vh;
    text-align: center;
    padding-top: 150px;
}

#content h1 {
    font-weight: 700;
}

#content hr {
    background-color: #FFD19A;
    width: 20vw;
    height: 5px;
    border-radius: 5px;
    opacity: 1;
}

.info {
    width: 50vw;
}

.nav {
    width: 20%;
    float: left;
    position: relative;
}

.nav ul {

}

.nav li {
    margin-bottom: 10px;
    list-style-type: none;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 5px;
}

.blue {
    background-color: #B0DEFF;
}

.orange {
    background-color: #FFD19A;
}

.yellow {
    background-color: #FFF8A6;
}

.nav li:last-child {
    margin-bottom: 0px;
}

.nav li:hover {
    background-color: #ffa065;
}

.nav a {
    color: #000000;
    text-decoration: none;
}

.bio {
    width: 80%;
    text-align: justify;
    float: right;
    position: relative;
}